.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.userinput{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnP:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.btnP:active{
    background-color: black;
    border: 1px solid black;
}
#formTitle{
    margin: 0px;
    padding: 0px;
}
.popupBox{
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.popupBox input{
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.buttonsPopup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 20px;
}
.btnP{
    width: 80px;
    padding: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    text-align: center;
}